.button {
  display: flex;
  gap: var(--small-gap);

  align-items: center;
  justify-content: center;

  background-color: var(--primary);
  padding: calc(var(--small-padding) * 1.25) var(--large-padding);

  border-radius: var(--border-radius);
  cursor: pointer;

  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;

  width: fit-content;
  transition: var(--transition-speed) opacity;

  font-size: var(--large-font);
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  .button:not(.secondary) {
    color: var(--background);
  }
}

@media (prefers-color-scheme: light) {
  .button:not(.secondary) {
    color: var(--text);
  }
}

html.dark .button:not(.secondary) {
  color: var(--background);
}

html.light .button:not(.secondary) {
  color: var(--text);
}

.button.icon-only {
  padding: calc(var(--small-padding) * 1.25);
}

.button.icon-only .icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: var(--icon-font) !important;
  height: var(--icon-font) !important;
}

.button.secondary {
  background-color: var(--dark);
  border: var(--small-border) solid var(--lighter);
}

.button.disabled {
  opacity: var(--dimmer-opacity) !important;
  pointer-events: none !important;

  user-select: none !important;
  -webkit-user-select: none !important;
}

@media (hover: hover) {
  .button:hover {
    opacity: var(--dim-opacity);
  }

  .button.secondary:hover {
    background-color: var(--lighter);
  }
}
