@media only screen and (max-width: 1200px) {
  .area .control .indicators,
  .details-card .control .indicators {
    gap: calc(var(--small-padding) / 2);
  }

  .area .control .indicators .indicator,
  .details-card .control .indicators .indicator {
    padding: 6px;
  }
}

@media only screen and (max-width: 600px) {
  .area .control .indicators,
  .details-card .control .indicators {
    gap: calc(var(--small-padding) / 3);
  }

  .area .control .indicators .indicator,
  .details-card .control .indicators .indicator {
    padding: calc(var(--small-padding) / 2);
  }
}
