.watch {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin-left: 0;
  margin-right: 0;

  width: 100%;
  max-width: 100%;
}

.watch > .video,
.watch > .details {
  width: calc(100% - (2 * var(--large-padding)));
  max-width: var(--max-width);

  margin-left: var(--large-padding);
  margin-right: var(--large-padding);

  box-sizing: border-box;
}

.watch.only-video {
  margin-bottom: calc(var(--large-padding) * -1);
}

.watch .video {
  background-color: var(--dark);

  border: var(--small-border) solid var(--light);
  border-radius: var(--border-radius);

  height: calc(100dvh - (16px + 1px + 10px + 42px + 8px + 20px + 1rem));
  min-height: calc(var(--max-width) / 20);

  -webkit-mask-image: -webkit-radial-gradient(var(--light), var(--dark));
  mask-image: -webkit-radial-gradient(var(--light), var(--dark));

  overflow: hidden;
  box-sizing: border-box;

  position: relative;
  user-select: none;
  -webkit-user-select: none;

  margin-left: 0;
  margin-right: 0;
}

.modal .watch .video,
.modal .modal-header.has-video {
  width: calc(100% - (20px * 2)) !important;
  max-width: 100% !important;
}

.watch .video .backdrop {
  display: none;
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  opacity: var(--dim-opacity);
}

.watch .video .vignette {
  display: none;
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(var(--light-rgb), 0.4) 25%
  );
}

.watch .video .backdrop.active,
.watch .video .vignette.active {
  display: flex;
}

.watch .video .iframe {
  display: none;
  position: absolute;

  outline: none;
  border: none;

  width: 100% !important;
  height: 100% !important;
}

.watch .video .iframe.active {
  display: inline-block;
}

.watch .video .video-notice {
  display: none;
  position: absolute;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  z-index: 2;
}

.watch .video .video-notice.active {
  display: flex;
}

.watch .video .video-notice .notice {
  margin: 0;
}

.watch .trailer {
  display: none;
  position: fixed;

  z-index: 9;
  background-color: rgba(var(--light-rgb), 0.6);

  user-select: none;
  -webkit-user-select: none;

  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;

  width: 100dvw;
  height: 100dvh;
}

.watch .trailer.active {
  display: flex;
}

.watch .trailer .iframe {
  border-radius: var(--border-radius);
  outline: none;
  border: none;

  width: 80dvw;
  height: 80dvh;
}

.watch .downloads {
  display: none;
  position: fixed;

  z-index: 9;
  background-color: rgba(var(--light-rgb), 0.6);

  user-select: none;
  -webkit-user-select: none;

  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;

  width: 100dvw;
  height: 100dvh;
}

.watch .downloads.active {
  display: flex;
}

.watch .downloads .torrents {
  background-color: var(--lighter);
  border-radius: var(--border-radius);
  padding: var(--small-padding);

  display: flex;
  flex-direction: column;
  gap: var(--small-gap);

  max-width: 70dvw;
  max-height: 70dvh;

  overflow: auto;
}

.watch .downloads .torrents .download {
  display: flex;
  align-items: center;

  padding: var(--small-padding);
  gap: var(--small-gap);

  border-radius: var(--border-radius);
  transition: var(--transition-speed) background-color;
}

.watch .downloads .torrents .download p {
  margin: 0;
}

.watch .downloads .torrents .download span {
  padding: calc(var(--small-padding) / 2.5) calc(var(--small-padding) / 2);
  border-radius: 5rem;

  color: var(--dark);
  font-weight: 500;
}

.watch .downloads .torrents .download .type {
  background-color: var(--blue);
}

.watch .downloads .torrents .download .quality {
  background-color: var(--green);
}

.watch .downloads .torrents .download .size {
  background-color: var(--orange);
}

.watch .details {
  display: flex;
  justify-content: space-between;

  margin-top: var(--large-padding);
}

.watch.disabled .details {
  display: none;
}

.watch .details.no-video {
  margin-top: 0;
}

.watch .container {
  display: flex;
  flex-direction: column;

  gap: var(--large-gap);
}

.watch .details .left {
  width: 66.25%;
}

.watch .details .left.full-width {
  width: 100%;
}

.watch .details .right {
  width: 32%;
}

.watch .details .right.full-width {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.watch .details .right.full-width .details-card {
  height: fit-content;
}

.watch .details .details-card {
  display: flex;
  flex-direction: column;

  gap: var(--small-gap);
  background-color: var(--light);

  padding: var(--large-padding);
  box-sizing: border-box;

  border: var(--small-border) solid var(--lighter);
  border-radius: var(--border-radius);

  overflow: hidden;
}

.watch .details .details-card.disabled {
  display: none;
}

.watch .details .title,
.watch .details .text {
  font-size: var(--large-font);
  margin: 0;

  overflow-wrap: anywhere;
}

.watch .details .title {
  display: flex;
  gap: var(--small-gap);

  font-weight: 500;
  align-items: center;
}

.watch .details .title .text,
.watch .details .title .icon {
  opacity: var(--dim-opacity);
}

.watch .details .notice {
  background-color: var(--dark);
  margin: 0;
}

.watch .details .control {
  margin-left: auto;
}

.watch .details .control {
  background-color: transparent;
  border: none;

  padding: 0;
  gap: calc(var(--small-gap) / 4);
}

.watch .details .control .indicators {
  background-color: transparent;
}

.watch .details .control .button {
  width: 2.6rem;
  border-radius: 50%;
}

.watch .details .cast-cards,
.watch .details .crew-cards {
  display: flex;
  gap: var(--small-gap);

  justify-content: center;
}

.watch .details .cast-cards .cast-card,
.watch .details .crew-cards .crew-card {
  display: flex;

  padding: var(--small-padding);
  box-sizing: border-box;

  background-color: var(--dark);
  border: var(--small-border) solid var(--lighter);

  border-radius: var(--border-radius);
  width: calc(25% - var(--small-padding));

  gap: var(--small-gap);
  transition: var(--transition-speed) opacity;

  cursor: pointer;
  overflow: hidden;

  align-items: center;
  justify-content: center;

  user-select: none;
  -webkit-user-select: none;
}

.watch .details .cast-cards .cast-card .text,
.watch .details .crew-cards .crew-card .text {
  display: flex;
  flex-direction: column;

  gap: calc(var(--small-gap) / 3);
  font-size: calc(var(--min-font) * 1.05);

  justify-content: center;
  overflow-wrap: anywhere;
}

.watch .details .cast-cards .cast-card .text .cast-name,
.watch .details .crew-cards .crew-card .text .crew-name {
  font-weight: 500;
}

.watch .details .cast-cards .cast-card .text .cast-character,
.watch .details .crew-cards .crew-card .text .crew-job {
  opacity: var(--dim-opacity);
  font-size: var(--min-font);
}

.watch .details .cast-cards .cast-card .image,
.watch .details .crew-cards .crew-card .image {
  height: 3rem;

  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;

  border-radius: 50%;
  object-fit: cover;
}

.watch .details .cast-cards .cast-card .image[src=""],
.watch .details .cast-cards .cast-card .image[src="null"],
.watch .details .cast-cards .cast-card .image:not([src]),
.watch .details .crew-cards .crew-card .image[src=""],
.watch .details .crew-cards .crew-card .image[src="null"],
.watch .details .crew-cards .crew-card .image:not([src]) {
  opacity: 0;
}

.watch .details .review-cards {
  display: flex;
  gap: var(--small-gap);

  justify-content: center;
}

.watch .details .review-cards .review-card {
  display: flex;
  flex-direction: column;

  padding: var(--large-padding);
  box-sizing: border-box;

  background-color: var(--dark);
  border: var(--small-border) solid var(--lighter);

  border-radius: var(--border-radius);
  width: calc(50% - var(--small-padding));

  gap: var(--large-gap);
  transition: var(--transition-speed) opacity;

  cursor: pointer;
  overflow: hidden;

  user-select: none;
  -webkit-user-select: none;
}

.watch .details .review-title {
  display: flex;
  gap: var(--small-gap);

  align-items: center;
  justify-content: space-between;

  font-weight: 500;
}

.watch .details .review-title .title-container {
  display: flex;
  gap: var(--small-gap);

  align-items: center;
}

.watch .details .review-title .title-container .author {
  overflow-wrap: anywhere;
}

.watch .details .review-title .title-container .avatar {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;

  border: var(--small-border) solid var(--lighter);
  box-sizing: border-box;

  overflow: hidden;
  border-radius: 5rem;

  background-color: var(--light);
}

.watch .details .review-title .title-container .avatar .image {
  width: 1.75rem;
  height: 1.75rem;

  object-fit: cover;
  pointer-events: none;

  user-select: none;
  -webkit-user-select: none;
}

.watch .details .review-title .title-container .avatar .image[src=""],
.watch .details .review-title .title-container .avatar .image[src="null"],
.watch .details .review-title .title-container .avatar .image:not([src]) {
  opacity: 0;
}

.watch .details .rating {
  background-color: var(--light);
  border-radius: 5rem;

  width: fit-content;
  font-size: var(--small-font);
}

.watch .details .review-content {
  opacity: var(--dim-opacity);
  font-size: var(--large-font);

  overflow-wrap: anywhere;
}

.watch .details .details-card.misc {
  flex-direction: row;
  gap: var(--large-gap);
}

.watch .details .details-card.misc > div {
  display: flex;
  flex-direction: column;

  gap: var(--small-gap);
}

.watch .details .details-card.misc .title:not(:first-child) {
  margin-top: var(--large-padding);
}

.watch .details .details-card.misc .rating {
  background-color: var(--dark);
  border-radius: var(--border-radius);
}

.watch .details .genre-cards {
  display: flex;
  gap: calc(var(--small-gap) / 2);

  flex-wrap: wrap;
}

.watch .details .genre-card {
  background-color: var(--dark);
  border: var(--small-border) solid var(--lighter);

  padding: calc(var(--small-padding) / 1.5);
  box-sizing: border-box;

  border-radius: var(--border-radius);
  font-size: var(--large-font);

  overflow-wrap: anywhere;
}

.watch .details .season-cards {
  display: flex;
  flex-direction: column;

  gap: var(--small-gap);
}

.watch .details .season-card {
  background-color: var(--dark);
  border: var(--small-border) solid var(--lighter);

  padding: var(--small-padding) var(--large-padding);
  box-sizing: border-box;

  border-radius: var(--border-radius);

  user-select: none;
  -webkit-user-select: none;
}

.watch .details .season-card .season-title {
  display: flex;
  align-items: center;

  gap: var(--small-gap);
  font-weight: 500;
}

.watch .details .season-card .season-title .button {
  background-color: var(--light);
  border: var(--small-border) solid var(--lighter);

  border-radius: 50%;
  margin-left: auto;

  width: 2rem;
  height: 2rem;

  font-size: var(--small-font);
}

.watch .details .season-card .season-title .button .icon {
  opacity: var(--dim-opacity);
}

.watch .details .season-card .season-title .name {
  font-weight: 500;
}

.watch .details .season-card .season-title .amount {
  font-size: var(--small-font);
  opacity: var(--dim-opacity);
}

.watch .details .season-card .episodes {
  display: none;
  flex-direction: column;

  padding: var(--small-padding) 0;
  box-sizing: border-box;
}

.watch .details .season-card.active .episodes {
  display: flex;
  gap: var(--small-gap);
}

.watch .details .season-card .episodes .episode {
  display: flex;
  box-sizing: border-box;

  gap: var(--small-gap);
  align-items: center;

  border-radius: var(--border-radius);
  transition: var(--transition-speed) opacity;

  padding: var(--large-padding);
  user-select: none;
  -webkit-user-select: none;
}

.watch .details .season-card .episodes .episode.active {
  background-color: var(--light);
  pointer-events: none;
}

.watch .details:not(.no-video) .season-card .episodes .episode:not(.active) {
  cursor: pointer;
}

.watch .details .season-card .episodes .episode .number {
  font-weight: 500;
  font-size: var(--max-font);

  opacity: var(--dim-opacity);
}

.watch .details .season-card .episodes .episode .episode-left {
  display: flex;

  gap: var(--large-gap);
  align-items: center;
}

.watch .details .season-card .episodes .episode .episode-right {
  display: flex;
  flex-direction: column;

  gap: var(--small-gap);
  width: 100%;
}

.watch .details .season-card .episodes .episode .preview {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;

  border: var(--small-border) solid var(--lighter);
  box-sizing: border-box;

  overflow: hidden;
  border-radius: var(--border-radius);

  background-color: var(--light);
}

.watch .details .season-card .episodes .episode .preview .image {
  width: 8rem;
  height: 5rem;

  object-fit: cover;
  pointer-events: none;

  user-select: none;
  -webkit-user-select: none;
}

.watch .details .season-card .episodes .episode .preview .image[src=""],
.watch .details .season-card .episodes .episode .preview .image[src="null"],
.watch .details .season-card .episodes .episode .preview .image:not([src]) {
  opacity: 0;
}

.watch .details .season-card .episodes .episode:not(.active) .notice {
  background-color: var(--light);
}

.watch .details .season-card .episodes .episode .preview .notice {
  position: absolute;
  background-color: var(--light);
}

.watch .details .season-card .episodes .episode .episode-title {
  display: flex;
  gap: var(--small-gap);

  justify-content: space-between;
  align-items: center;

  font-weight: 500;
}

.watch .details .season-card .episodes .episode .episode-title .name {
  font-weight: 500;
}

.watch .details .season-card .episodes .episode .episode-title .time {
  display: flex;
  gap: var(--small-gap);

  align-items: center;
  justify-content: center;

  background-color: var(--light);
  border: var(--small-border) solid var(--lighter);

  padding: calc(var(--small-padding) / 1.5) calc(var(--small-padding) / 1.25);
  box-sizing: border-box;

  border-radius: 5rem;
}

.watch .details .season-card .episodes .episode.active .episode-title .time {
  background-color: var(--lighter);
  border: var(--small-border) solid var(--lightest);
}

.watch .details .season-card .episodes .episode .description {
  font-size: var(--large-font);
}

.watch .details .season-card .episodes .episode-title .time .text {
  overflow-wrap: normal !important;
}

.watch .details .season-card .episodes .episode .description,
.watch .details .season-card .episodes .episode .episode-title .time .text,
.watch .details .season-card .episodes .episode .episode-title .time .icon {
  opacity: var(--dim-opacity);
}

.watch .details .area.minimal {
  margin: 0;
  padding: 0;
}

.watch .details .area.minimal .cards .card {
  width: calc(50% - var(--small-padding));
  background-color: var(--dark);
}

.watch .details .area.minimal .cards .card .title {
  background-color: var(--light);
}

.watch .season-control .button.inactive {
  opacity: calc(var(--dimmer-opacity) / 2);
  pointer-events: none;
}

.watch .season-control.inactive {
  display: none;
}

@media (hover: hover) {
  .watch .downloads .torrents .download:hover {
    cursor: pointer;
    background-color: var(--lightest);
  }

  .watch .details .cast-cards .cast-card:hover,
  .watch .details .crew-cards .crew-card:hover {
    opacity: var(--dim-opacity);
  }

  .watch .details .review-cards .review-card:hover {
    opacity: var(--dim-opacity);
  }

  .watch .details .season-card .season-title .button:hover {
    background-color: var(--lighter);
  }

  .watch
    .details:not(.no-video)
    .season-card
    .episodes
    .episode:not(.active):hover {
    opacity: var(--dim-opacity);
  }
}
