.watch .video {
    background-color: rgb(0, 0, 0);
    border-radius: var(--border-radius);

    height: calc(100vh - 12.85rem);
    height: calc(100dvh - 12.85rem);

    max-height: var(--max-width);
    min-height: calc(var(--max-width) / 25);
    
    width: 100%;
    mask-image: -webkit-radial-gradient(var(--light), var(--dark));

    overflow: hidden;
    box-sizing: border-box;

    position: relative;
    user-select: none;
}

.watch .video.theme {
    background-color: var(--light);
    border: var(--small-border) solid var(--lighter);
}

.watch .video .iframe {
    display: none;
    position: absolute;

    outline: none;
    border: none;

    width: 100%;
    height: 100%;
}

.watch .video .iframe.active {
    display: inline-block;
}

.watch .video .video-notice {
    display: none;
    position: absolute;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.watch .video .video-notice.active {
    display: flex;
}

.watch .video .video-notice .notice {
    margin: 0;
}

.watch .video.theme .video-notice .notice {
    background-color: var(--dark);
}

.watch .details {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-top: var(--large-padding);
}

.watch .details.no-video {
    margin-top: 0;
}

.watch .container {
    display: flex;
    flex-direction: column;
    
    gap: var(--large-gap);
}

.watch .details .left {
    width: 66.25%;
}

.watch .details .left.full-width {
    width: 100%;
}

.watch .details .right {
    width: 32%;
}

.watch .details .right.full-width {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.watch .details .right.full-width .details-card {
    height: fit-content;
}

.watch .details .details-card {
    display: flex;
    flex-direction: column;
    

    gap: var(--small-gap);
    background-color: var(--light);

    padding: var(--large-padding);
    box-sizing: border-box;

    border: var(--small-border) solid var(--lighter);
    border-radius: var(--border-radius);

    overflow: hidden;
}

.watch .details .title, .watch .details .text {
    font-size: var(--large-font);
    margin: 0;
}

.watch .details .title {
    display: flex;
    gap: var(--small-gap);

    font-weight: 500;
    align-items: center;
}

.watch .details .title .text, .watch .details .title .icon {
    opacity: var(--dim-opacity);
}

.watch .details .notice {
    background-color: var(--dark);
    margin: 0;
}

.watch .details .control {
    margin-left: auto;
}

.watch .details .control {
    background-color: transparent;
    border: none;

    padding: 0;
    gap: calc(var(--small-gap) / 4);
}

.watch .details .control .indicators {
    background-color: transparent;
}

.watch .details .control .button {
    width: 2.6rem;
    border-radius: 50%;
}

.watch .details .cast-cards {
    display: flex;
    gap: var(--small-gap);
    
    justify-content: center;
}

.watch .details .cast-cards .cast-card {
    background-color: var(--dark);
    border-radius: var(--border-radius);

    width: calc(10% - var(--small-padding));
    transition: var(--transition-speed) opacity;

    overflow: hidden;
    cursor: pointer;
}

.watch .details .cast-cards .cast-card .image {
    width: 100%;
    height: 100%;

    pointer-events: none;
    user-select: none;

    object-fit: cover;
}

.watch .details .cast-cards .cast-card .image[src=""], .watch .details .cast-cards .cast-card .image[src="null"], .watch .details .cast-cards .cast-card .image:not([src]) {
    opacity: 0;
}

.watch .details .cast-cards .cast-card:hover {
    opacity: var(--dim-opacity);
}

.watch .details .review-cards {
    display: flex;
    gap: var(--small-gap);

    justify-content: center;
}

.watch .details .review-cards .review-card {
    display: flex;
    flex-direction: column;

    padding: var(--large-padding);
    box-sizing: border-box;

    background-color: var(--dark);
    border: var(--small-border) solid var(--lighter);

    border-radius: var(--border-radius);
    width: calc(50% - var(--small-padding));

    gap: var(--large-gap);
    transition: var(--transition-speed) opacity;

    cursor: pointer;
    overflow: hidden;

    user-select: none;
}

.watch .details .review-cards .review-card:hover {
    opacity: var(--dim-opacity);
}

.watch .details .review-title {
    display: flex;
    gap: var(--small-gap);

    align-items: center;
    justify-content: space-between;

    font-weight: 500;
}

.watch .details .review-title .title-container {
    display: flex;
    gap: var(--small-gap);

    align-items: center;
}

.watch .details .review-title .title-container .avatar {
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;

    border: var(--small-border) solid var(--lighter);
    box-sizing: border-box;

    overflow: hidden;
    border-radius: 5rem;
    
    background-color: var(--light);
}

.watch .details .review-title .title-container .avatar .image {
    width: 1.75rem;
    height: 1.75rem;

    object-fit: cover;

    user-select: none;
    pointer-events: none;
}

.watch .details .review-title .title-container .avatar .image[src=""], .watch .details .review-title .title-container .avatar .image[src="null"], .watch .details .review-title .title-container .avatar .image:not([src]) {
    opacity: 0;
}

.watch .details .rating {
    background-color: var(--light);
    border-radius: 5rem;

    width: fit-content;
    font-size: var(--small-font);
}

.watch .details .review-content {
    opacity: var(--dim-opacity);
    font-size: var(--large-font);
}

.watch .details .details-card.misc {
    flex-direction: row;
    gap: var(--large-gap);
}

.watch .details .details-card.misc > div {
    display: flex;
    flex-direction: column;

    gap: var(--small-gap);
}

.watch .details .details-card.misc .title:not(:first-child) {
    margin-top: var(--large-padding);
}

.watch .details .details-card.misc .rating {
    background-color: var(--dark);
    border-radius: var(--border-radius);
}

.watch .details .genre-cards {
    display: flex;
    gap: calc(var(--small-gap) / 2);

    flex-wrap: wrap;
}

.watch .details .genre-card {
    background-color: var(--dark);
    border: var(--small-border) solid var(--lighter);

    padding: calc(var(--small-padding) / 1.5);
    box-sizing: border-box;

    border-radius: var(--border-radius);
    font-size: var(--large-font);
}

.watch .details .season-cards {
    display: flex;
    flex-direction: column;

    gap: var(--small-gap);
}

.watch .details .season-card {
    background-color: var(--dark);
    border: var(--small-border) solid var(--lighter);

    padding: var(--small-padding) var(--large-padding);
    box-sizing: border-box;

    border-radius: var(--border-radius);
}

.watch .details .season-card .season-title {
    display: flex;
    align-items: center;
    
    gap: var(--small-gap);
    font-weight: 500;
}

.watch .details .season-card .season-title .button {
    background-color: var(--light);
    border: var(--small-border) solid var(--lighter);

    border-radius: 50%;
    margin-left: auto;

    width: 2rem;
    height: 2rem;

    font-size: var(--small-font);
}

.watch .details .season-card .season-title .button .icon {
    opacity: var(--dim-opacity);
}

.watch .details .season-card .season-title .button:hover {
    background-color: var(--lighter);
}

.watch .details .season-card .season-title .name {
    font-weight: 500;
}

.watch .details .season-card .season-title .amount {
    font-size: var(--small-font);
    opacity: var(--dim-opacity);
}

.watch .details .season-card .episodes {
    display: none;
    flex-direction: column;

    padding: var(--small-padding) 0;
    box-sizing: border-box;
}

.watch .details .season-card.active .episodes {
    display: flex;
    gap: var(--small-gap);
}

.watch .details .season-card .episodes .episode {
    display: flex;
    box-sizing: border-box;

    gap: var(--small-gap);
    align-items: center;

    border-radius: var(--border-radius);
    transition: var(--transition-speed) opacity;

    padding: var(--large-padding);
    user-select: none;
}

.watch .details .season-card .episodes .episode.active {
    background-color: var(--light);
    pointer-events: none;
}

.watch .details .season-card .episodes .episode:not(.active) {
    cursor: pointer;
}

.watch .details:not(.no-video) .season-card .episodes .episode:not(.active):hover {
    opacity: var(--dim-opacity);
}

.watch .details .season-card .episodes .episode .number {
    font-weight: 500;
    font-size: var(--max-font);

    opacity: var(--dim-opacity);
}

.watch .details .season-card .episodes .episode .episode-left {
    display: flex;

    gap: var(--large-gap);
    align-items: center;
}

.watch .details .season-card .episodes .episode .episode-right {
    display: flex;
    flex-direction: column;

    gap: var(--small-gap);
    width: 100%;
}

.watch .details .season-card .episodes .episode .preview {
    display: flex;
    position: relative;

    align-items: center;
    justify-content: center;

    border: var(--small-border) solid var(--lighter);
    box-sizing: border-box;

    overflow: hidden;
    border-radius: var(--border-radius);

    background-color: var(--light);
}

.watch .details .season-card .episodes .episode .preview .image {
    width: 8rem;
    height: 5rem;
    
    object-fit: cover;

    user-select: none;
    pointer-events: none;
}

.watch .details .season-card .episodes .episode .preview .image[src=""], .watch .details .season-card .episodes .episode .preview .image[src="null"], .watch .details .season-card .episodes .episode .preview .image:not([src]) {
    opacity: 0;
}

.watch .details .season-card .episodes .episode:not(.active) .notice {
    background-color: var(--light);
}

.watch .details .season-card .episodes .episode .preview .notice {
    position: absolute;
    background-color: var(--light);
}

.watch .details .season-card .episodes .episode .episode-title {
    display: flex;
    gap: var(--small-gap);

    justify-content: space-between;
    align-items: center;

    font-weight: 500;
}

.watch .details .season-card .episodes .episode .episode-title .name {
    font-weight: 500;
}

.watch .details .season-card .episodes .episode .episode-title .time {
    display: flex;
    gap: var(--small-gap);

    align-items: center;
    justify-content: center;

    background-color: var(--light);
    border: var(--small-border) solid var(--lighter);

    padding: calc(var(--small-padding) / 2);
    box-sizing: border-box;

    border-radius: var(--border-radius);
}

.watch .details .season-card .episodes .episode.active .episode-title .time {
    background-color: var(--lighter);
    border: var(--small-border) solid var(--lightest);
}

.watch .details .season-card .episodes .episode .description {
    font-size: var(--large-font);
}

.watch .details .season-card .episodes .episode .description, .watch .details .season-card .episodes .episode .episode-title .time .text, .watch .details .season-card .episodes .episode .episode-title .time .icon {
    opacity: var(--dim-opacity);
}

.watch .details .area.minimal {
    margin: 0;
    padding: 0;
}

.watch .details .area.minimal .cards .card {
    width: calc(50% - var(--small-padding));
    background-color: var(--dark);
}

.watch .details .area.minimal .cards .card .title {
    background-color: var(--light);
}

.watch .show-control {
    position: absolute;

    top: calc(var(--small-padding) / 2);
    right: calc(var(--small-padding) / 2);
    
    display: flex;
    background-color: var(--light);

    padding: calc(var(--small-padding) / 5);
    box-sizing: border-box;

    border-radius: var(--border-radius);
    gap: calc(var(--small-padding) / 5);

    opacity: calc(var(--dimmer-opacity) / 2);
    transition: var(--transition-speed) opacity;
}

.watch .show-control:hover {
    opacity: 100%;
}

.watch .show-control .button {
    font-size: var(--small-font);
    width: 2.4rem;
}

.watch .show-control.inactive, .watch .show-control .button.inactive {
    display: none;
}