.cards {
  display: flex;
  gap: var(--small-gap);

  justify-content: center;
}

.cards.inactive {
  display: none;
}

.card {
  display: flex;
  position: relative;

  flex-direction: column;

  gap: calc(var(--small-gap) / 2);
  justify-content: space-between;

  background-color: var(--light);
  border-radius: var(--border-radius);

  box-sizing: border-box;
  padding: var(--small-padding);

  cursor: pointer;
  transition: var(--transition-speed) background-color;

  width: calc(25% - var(--small-padding));
  user-select: none;
  -webkit-user-select: none;

  border: var(--small-border) solid var(--lighter);
  overflow: hidden;
}

.card.loaded .load-image {
  display: none;
}

.card:not(.loaded) .image:not(.load-image) {
  display: none;
}

@media (hover: hover) {
  .card:hover {
    background-color: var(--lighter);
  }

  .card:hover .play {
    opacity: 100%;
  }
}

.card .play {
  display: flex;
  transition: var(--transition-speed) opacity;

  align-items: center;
  justify-content: center;

  position: absolute;
  pointer-events: none;

  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  z-index: 2;
  background-color: rgba(var(--light-rgb), 0.5);

  opacity: 0%;
}

.card .play .icon {
  font-size: calc(var(--max-font) * 1.5);
}

.card .image {
  width: 100%;
  height: 100%;

  max-height: 25rem;
  object-fit: cover;

  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;

  border-radius: calc(var(--border-radius) / 2);
  margin-bottom: calc(var(--small-padding) / 2);

  background-color: var(--dark);
}

.card .image[src=""],
.card .image[src="null"],
.card .image:not([src]) {
  opacity: 0;
}

.card .season-info,
.card .type-info {
  position: absolute;

  background-color: var(--lighter);
  border: var(--small-border) solid var(--lightest);

  padding: calc(var(--small-padding) / 2);
  box-sizing: border-box;

  top: calc(var(--small-padding) * 1.25);
  right: calc(var(--small-padding) * 1.25);

  border-radius: calc(var(--border-radius) / 1.5);
  opacity: var(--dim-opacity);
}

.card .type-info {
  right: initial !important;
  left: calc(var(--small-padding) * 1.25);
}

.card .footer {
  display: flex;
  gap: var(--small-gap);

  justify-content: space-between;
  font-size: var(--small-font);
}

.card .footer > div,
.card .title,
.watch .rating {
  display: flex;
  gap: calc(var(--small-gap) / 2);

  align-items: center;
  justify-content: center;

  background-color: var(--dark);
  padding: calc(var(--small-padding) / 1.5);

  border-radius: var(--border-radius);
  border: var(--small-border) solid var(--lighter);

  box-sizing: border-box;
  width: 100%;

  text-align: center;
}

.card .title {
  font-weight: 500;
  font-size: var(--large-font);

  overflow-wrap: anywhere;
}

.card .footer .text,
.card .footer .icon,
.watch .rating .rating-text,
.watch .rating .icon {
  opacity: var(--dim-opacity);
}

.card .footer .stars,
.watch .rating .stars {
  display: flex;
  gap: calc(var(--small-gap) / 4);
}

.card .footer .star.fill,
.watch .rating .star.fill {
  color: var(--primary);
}

.card .footer .star.half-fill,
.watch .rating .star.half-fill {
  background: linear-gradient(
    to right,
    var(--primary) 50%,
    rgba(var(--text-rgb), 0.75) 50%
  );
  color: transparent;

  background-clip: text;
  -webkit-background-clip: text;
}

.card .footer .star.fill .icon,
.watch .rating .star.fill .icon,
.card .footer .star.half-fill .icon,
.watch .rating .star.half-fill .icon {
  opacity: 100%;
}
