@media only screen and (max-width: 1200px) {
  .carousel .title {
    margin-bottom: var(--large-padding);
  }

  .carousel .description {
    display: none;
  }

  .carousel .buttons {
    flex-direction: column;
  }
}
