.notice {
  display: none;
  gap: var(--small-gap);

  align-items: center;
  justify-content: center;

  margin-top: 1rem;
  width: fit-content;

  margin-left: auto;
  margin-right: auto;

  background-color: var(--light);
  border-radius: var(--border-radius);

  padding: calc(var(--small-padding) / 1.5);
  box-sizing: border-box;
}

.notice.active {
  display: flex;
}

.notice .icon {
  color: var(--primary);
}

.notice .text {
  opacity: var(--dim-opacity);
}
