::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--light);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
  background-color: var(--lighter);
  border-radius: var(--border-radius);
}

@media (hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--lightest);
  }
}
