html {
  --border-radius: 8px;
  --max-width: 85rem;
  --transition-speed: 0.15s;

  --dim-opacity: 75%;
  --dimmer-opacity: 50%;

  --small-gap: 10px;
  --large-gap: 20px;

  --small-border: 1px;
  --large-border: 2px;

  --small-padding: 10px;
  --large-padding: 20px;

  --min-font: 13px;
  --small-font: 14px;
  --large-font: 15px;
  --max-font: 17px;

  --footer-height: 4rem;
}

@media (prefers-color-scheme: dark) {
  html {
    --background: #141414;
    --primary: #e12323;
    --light: #1a1a1a;
    --light-rgb: 26, 26, 28;
    --lighter: #232323;
    --lightest: #373737;
    --dark: #0f0f0f;
    --text: #fafafa;
    --text-rgb: 250, 250, 250;
    --blue: #2392e1;
    --green: #23e149;
    --orange: #e19e23;
  }
}

@media (prefers-color-scheme: light) {
  html {
    --background: #e6e2e2;
    --primary: #ee2020;
    --light: #ccc9c9;
    --light-rgb: 204, 201, 201;
    --lighter: #b3b2b2;
    --lightest: #8f8c8c;
    --dark: #ddd8d8;
    --text: #2b2929;
    --text-rgb: 43, 41, 41;
    --blue: #085d6e;
    --green: #086e14;
    --orange: #6e5a08;
  }
}

html.dark {
  --background: #141414;
  --primary: #e12323;
  --light: #1a1a1a;
  --light-rgb: 26, 26, 28;
  --lighter: #232323;
  --lightest: #373737;
  --dark: #0f0f0f;
  --text: #fafafa;
  --text-rgb: 250, 250, 250;
  --blue: #2392e1;
  --green: #23e149;
  --orange: #e19e23;
}

html.light {
  --background: #e6e2e2;
  --primary: #ee2020;
  --light: #ccc9c9;
  --light-rgb: 204, 201, 201;
  --lighter: #b3b2b2;
  --lightest: #8f8c8c;
  --dark: #ddd8d8;
  --text: #2b2929;
  --text-rgb: 43, 41, 41;
  --blue: #085d6e;
  --green: #086e14;
  --orange: #6e5a08;
}
