doctype html
html(lang = "en")
  head
    title FilmHaven
    meta(name = "description", content = "A catalog of thousands of movies & shows.")
    meta(charset = "UTF-8")
    meta(name = "viewport", content = "user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height")
    meta(name = "theme-color", media = "(prefers-color-scheme: dark)", content = "#0F0F0F")
    meta(name = "theme-color", media = "(prefers-color-scheme: light)", content = "#ddd8d8")
    link(rel = "apple-touch-icon", sizes = "192x192", href = require("./images/icons/192.png"))
    link(rel = "icon", type = "image/png", sizes = "32x32", href = require("./images/icons/32.png"))
    link(rel = "manifest", href = require("./manifest.json"))
    each cssFile in htmlWebpackPlugin.files.css
      link(rel="stylesheet", href=cssFile)
  body
    each jsFile in htmlWebpackPlugin.files.js
      script(src=jsFile)
