* {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
}

body {
    font-family: "Open Sans", sans-serif !important;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background);
    color: var(--text);

    transition: calc(var(--transition-speed) * 2) opacity;
    opacity: 0;
}

body.active {
    opacity: 100%;
}

body > .container {
    position: relative;

    min-height: 100vh;
    min-height: 100dvh;
}

body > .container > .wrapper {
    padding-bottom: var(--footer-height);
}

body.modal-active {
    overflow: hidden;
}

img {
    font-size: 0;
}