* {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
}

body {
    font-family: "Open Sans", sans-serif !important;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--background);
    color: var(--text);

    transition: calc(var(--transition-speed) * 2) opacity;
    opacity: 0;
}

body.active {
    opacity: 100%;
}

body > .container {
    position: relative;

    min-height: calc(100vh - (var(--large-padding) * 4));
    min-height: calc(100dvh - (var(--large-padding) * 4));
}

body > .container > .wrapper {
    margin-top: calc(var(--large-padding) * 4);
    padding-bottom: var(--footer-height);
}

body.modal-active {
    overflow: hidden;
}

body.modal-active > .container {
    user-select: none;
}

img {
    font-size: 0;
}