html {
    --border-radius: 8px;
    --max-width: 85rem;
    --transition-speed: .15s;
    
    --dim-opacity: 75%;
    --dimmer-opacity: 50%;
    
    --small-gap: 10px;
    --large-gap: 20px;

    --small-border: 1px;
    --large-border: 2px;

    --small-padding: 10px;
    --large-padding: 20px;

    --small-font: 0.8rem;
    --large-font: 1.2rem;

    --footer-height: 4rem;
}

@media (prefers-color-scheme: dark) {
    html {
        --background: #141414;
        --primary: #e12323;
        --light: #1A1A1A;
        --light-rgb: 26, 26, 28;
        --lighter: #232323;
        --lightest: #373737;
        --dark: #0F0F0F;
        --text: #fafafa;
    }
}

@media (prefers-color-scheme: light) {
    html {
        --background: #f7f3f3;
        --primary: #ee2020;
        --light: #d8d3d3;
        --light-rgb: 247, 243, 243;
        --lighter: #c0bdbd;
        --lightest: #9c9a9a;
        --dark: #ece6e6;
        --text: #080808;
    }
}

html.dark {
    --background: #141414;
    --primary: #e12323;
    --light: #1A1A1A;
    --light-rgb: 26, 26, 28;
    --lighter: #232323;
    --lightest: #373737;
    --dark: #0F0F0F;
    --text: #fafafa;
}

html.light {
    --background: #f7f3f3;
    --primary: #ee2020;
    --light: #d8d3d3;
    --light-rgb: 247, 243, 243;
    --lighter: #c0bdbd;
    --lightest: #9c9a9a;
    --dark: #ece6e6;
    --text: #080808;
}