html {
  --border-radius: 0.2rem;
  --max-width: 80rem;
  --transition-speed: 0.1s;

  --dim-opacity: 80%;
  --dimmer-opacity: 40%;

  --small-gap: 10px;
  --large-gap: 15px;

  --small-border: 1px;
  --large-border: 2px;

  --small-padding: 8px;
  --large-padding: 16px;

  --min-font: 13px;
  --small-font: 13px;
  --large-font: 14px;
  --max-font: 17px;
  --icon-font: 12px;

  --watch-height-subtract: 6.3rem;
  --watch-responsive-height-subtract: 6.05rem;

  --footer-height: 4rem;
}

@media (prefers-color-scheme: dark) {
  html {
    --background: #141514;
    --primary: #3ce123;
    --light: #1a1b1a;
    --light-rgb: 26, 27, 26;
    --lighter: #232423;
    --lightest: #373837;
    --lightest-rgb: 55, 56, 55;
    --dark: #0f100f;
    --text: #f9faf9;
    --blue: #2392e1;
    --green: #23e149;
    --orange: #e19e23;
  }
}

@media (prefers-color-scheme: light) {
  html {
    --background: #e2e2de;
    --primary: #2db119;
    --light: #cfd1cc;
    --light-rgb: 207, 209, 204;
    --lighter: #bbbab6;
    --lightest: #999797;
    --lightest-rgb: 153, 151, 151;
    --dark: #d9d8d4;
    --text: #0f0f0e;
    --blue: #096c80;
    --green: #0b8819;
    --orange: #826a0a;
  }
}

html.dark {
  --background: #141514;
  --primary: #3ce123;
  --light: #1a1b1a;
  --light-rgb: 26, 27, 26;
  --lighter: #232423;
  --lightest: #373837;
  --lightest-rgb: 55, 56, 55;
  --dark: #0f100f;
  --text: #f9faf9;
  --blue: #2392e1;
  --green: #23e149;
  --orange: #e19e23;
}

html.light {
  --background: #e2e2de;
  --primary: #2db119;
  --light: #cfd1cc;
  --light-rgb: 207, 209, 204;
  --lighter: #bbbab6;
  --lightest: #999797;
  --lightest-rgb: 153, 151, 151;
  --dark: #d9d8d4;
  --text: #0f0f0e;
  --blue: #096c80;
  --green: #0b8819;
  --orange: #826a0a;
}
