.button {
    display: flex;
    gap: var(--small-padding);
    
    align-items: center;
    justify-content: center;

    background-color: var(--primary);
    padding: calc(var(--small-padding) * 1.25) var(--large-padding);

    border-radius: var(--border-radius);
    cursor: pointer;

    transition: var(--transition-speed) background-color;
    border: var(--small-border) solid var(--primary-light);

    box-sizing: border-box;
    user-select: none;

    width: fit-content;
    font-size: 0.9rem;
}

.button:hover {
    background-color: var(--primary-light);
}

.button.icon-only {
    padding: calc(var(--small-padding) * 1.25);
}

.button.secondary {
    background-color: var(--dark);
    border: var(--small-border) solid var(--lighter);
}

.button.secondary:hover {
    background-color: var(--light);
}