.carousel {
    position: relative;
    display: flex;
    
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 35rem;

    border-radius: var(--border-radius);
    overflow: hidden;
}

.carousel .image {
    width: 100rem;
    object-fit: cover;

    user-select: none;
    pointer-events: none;
}

.carousel .details {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 2.5rem;

    border-radius: var(--border-radius);
    padding: var(--small-padding);

    max-width: 80%;
    text-align: center;

    text-overflow: ellipsis;
    text-wrap: wrap;

    overflow: hidden;
    z-index: 2;
}

.carousel .vignette {
    position: absolute;

    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5) 75%);
}

.carousel .title {
    font-size: 1.75rem;
    font-weight: 600;

    margin-bottom: 0;
}

.carousel .description {
    opacity: var(--dim-opacity);
}

.carousel .buttons {
    display: flex;
    gap: var(--small-padding);
}

.carousel .control {
    display: flex;
    position: absolute;

    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: space-between;

    font-size: 2rem;
}

.carousel .control .previous {
    margin-left: var(--large-padding);
}

.carousel .control .next {
    margin-right: var(--large-padding);
}

.carousel .control .action {
    padding: var(--small-padding);
    border-radius: var(--border-radius);

    cursor: pointer;
    transition: var(--transition-speed) opacity;

    background-color: rgba(0, 0, 0, 0.75);
    opacity: var(--dim-opacity);
}

.carousel .control .action:hover {
    opacity: 100%;
}

.carousel .control .action.inactive {
    opacity: calc(var(--dimmer-opacity) / 2);
    pointer-events: none;
}