.carousel {
    position: relative;
    display: flex;
    
    align-items: center;
    justify-content: center;

    width: 100%;
    height: fit-content;

    border-radius: var(--border-radius);
    overflow: hidden;
}

.carousel .image {
    user-select: none;
    pointer-events: none;

    width: 100%;
    object-fit: cover;

    height: 65vh;
    height: 65dvh;
}

.carousel .image[src=""], .carousel .image:not([src]) {
    opacity: 0;
}

.carousel .details {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 3rem;

    border-radius: var(--border-radius);
    padding: var(--small-padding);

    max-width: 80%;
    text-align: center;

    text-overflow: ellipsis;
    text-wrap: wrap;

    overflow: hidden;
    z-index: 2;
}

.carousel .vignette {
    position: absolute;

    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(var(--light-rgb), 0.75) 75%);
}

.carousel .title {
    font-size: 1.75rem;
    font-weight: 600;

    margin-bottom: 0;
}

.carousel .description {
    opacity: var(--dim-opacity);
}

.carousel .buttons {
    display: flex;
    gap: var(--small-padding);
}

.carousel .control {
    display: flex;
    position: absolute;
    
    bottom: 0.5rem;
    width: calc(100% - var(--small-padding) * 2);

    align-items: center;
    justify-content: space-between;

    left: var(--small-padding);
}