.area .control, .watch .details .control {
    display: flex;    
    align-items: center;

    background-color: var(--dark);
    padding: var(--small-padding);

    width: fit-content;
    height: fit-content;

    gap: calc(var(--small-gap) / 3);

    border-radius: var(--border-radius);
    border: var(--small-border) solid var(--light);

    box-sizing: border-box;
}

.control.inactive {
    display: none;
}

.area .control .button {
    background-color: var(--light);
    border: var(--small-border) solid var(--lighter);
    font-size: .75rem;
}

.area .control .button:hover {
    background-color: var(--lighter);
}

.control .indicators {
    display: flex;
    align-items: center;

    background-color: var(--dark);
    gap: calc(var(--small-gap) / 3);

    padding: calc(var(--small-padding) / 1.25);
    border-radius: var(--border-radius);
}

.control .indicator {
    padding: 2px 8px;
    background-color: var(--lighter);

    border-radius: var(--border-radius);
    transition: var(--transition-speed) background-color;
}

.control .indicator:not(.active) {
    cursor: pointer;
}

.control .indicator:not(.active):hover {
    background-color: var(--lightest);
}

.control .indicator.active {
    background-color: var(--primary);
}