@media only screen and (max-width: 600px) {
    .header .links {
        width: 100%;
    }
    
    .header .links .link {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 425px) {
    .header .links .link .text {
        display: none;
    }
}