.header .brand.mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .header .brand:not(.mobile) {
        display: none;
    }

    .header .brand.mobile {
        display: flex;
    }

    .header .links {
        width: 100%;
    }
    
    .header .links .link {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 425px) {
    .header .links .link .text {
        display: none;
    }
}