.area.search .search {
    display: flex;
    gap: var(--small-gap);

    width: 100%;
    align-items: center;

    background-color: var(--light);
    border: var(--small-border) solid var(--lighter);

    border-radius: var(--border-radius);
    padding: var(--small-padding);

    box-sizing: border-box;
    transition: var(--transition-speed) background-color;
}

.area.search .search:hover, .area.search .search:focus-within {
    background-color: var(--lighter);
}

.area.search .search .input {
    width: 100%;
    background-color: transparent;

    border: none;
    outline: none;

    font-size: 1rem;
    color: var(--text);
}

.area.search .search .input::placeholder {
    opacity: var(--dim-opacity);
}

.area.search .search .icon {
    opacity: 25%;
}

.area.search .search .clear {
    background-color: var(--primary);
    padding: calc(var(--small-padding) / 1.75);
    
    border-radius: var(--border-radius);
    transition: var(--transition-speed) opacity;

    box-sizing: border-box;
    cursor: pointer;

    opacity: 0;
    z-index: -10;
}

.area.search .search .clear.active {
    opacity: 100%;
    z-index: 1;
}

.area.search .search .clear:hover {
    opacity: var(--dim-opacity);
}

.area.search .cards {
    margin-top: 1rem;
}