* {
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Open Sans", sans-serif;

    background-color: var(--background);
    color: var(--text);

    transition: calc(var(--transition-speed) * 2) opacity;
    opacity: 0;
}

body.active {
    opacity: 100%;
}

body > .container {
    position: relative;
    min-height: 100vh;
}

body > .container > .wrapper {
    padding-bottom: calc(var(--footer-height) * 1.25);
}

body.modal-active {
    overflow: hidden;
}