html {
    --background: #141414;
    --primary: #e43636;
    --primary-light: #ff3b3b;
    --light: #1A1A1A;
    --lighter: #232323;
    --lightest: #373737;
    --dark-light: #1A1A1C;
    --dark-light-rgb: 26, 26, 28;
    --dark: #0F0F0F;
    --text: #ebebeb;

    --border-radius: 8px;
    --max-width: 75rem;
    --transition-speed: .15s;
    
    --dim-opacity: 75%;
    --dimmer-opacity: 50%;
    
    --small-gap: 10px;
    --large-gap: 20px;

    --small-border: 1px;
    --large-border: 2px;

    --small-padding: 10px;
    --large-padding: 20px;

    --small-font: .8rem;
    --large-font: 1.2rem;

    --footer-height: 4rem;
}